// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  margin-top: auto;
  color: var(--primary);
  font-size: 1.8rem;
  padding: 20px;
  background-color: var(--blue);
  text-align: center;
}
