// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  height: 95px;
  margin: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .wrapper {
    font-family: var(--ff-body);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid var(--clr-light-gray);
    .site-logo {
      display: flex;
    }
    nav {
      margin-left: auto;
      width: 584px;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 100%;
        li {
          display: flex;
          a {
            text-decoration: none;
            font-size: 1.6rem;
            color: var(--clr-dark);
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .btn-cta {
      background-color: var(--clr-green);
      color: var(--clr-white);
      border: none;
      height: 35px;
      font-family: var(--ff-body);
      font-weight: 700;
      border-radius: 5px;
      padding: 8px 10px;
      cursor: pointer;
      transform: translateY(-1px);
    }

    #menu-toggler {
      display: none;
    }

    @media screen and (max-width: 500px) {
      .site-logo {
        margin-right: 1.5rem;
      }
      #menu-toggler {
        display: inline-block;
        margin-left: 20px;
        cursor: pointer;
      }
      .btn-cta {
        margin-left: auto;
      }
      nav {
        position: fixed;
        top: 95px;
        bottom: 0px;
        left: 100vw;
        width: 100vw;
        transition: transform 0.5s ease-in;
        margin-left: 0px;
        background-color: var(--clr-light-gray);
        &.active {
          transform: translateX(-100vw);
          z-index: 99;
        }
        ul {
          padding: 20px;
          flex-direction: column;
          gap: 2rem;
          margin-top: 2rem;
          li {
            a {
              width: 100%;
              text-align: center;
              font-size: 1.9rem;
            }
          }
        }
      }
    }
  }
}
