// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
// https://sass-lang.com/documentation/breaking-changes/css-vars/
// #{}
:root {
  --fs-base: #{$base-font-size}; 
  --ff-body: "Shippori Mincho", serif;
  --fw-normal: 400;
  --line-height: 1.55;

  --fs-h1: 5rem;
  --fs-h2: 3.25rem;
  --fs-h3: 2.75rem;
  --fs-h4: 1.75rem;

  --black: #{$black-ligthen};
  --primary: #{$purple};
  --secondary: #{$orange};
  --blue: #{$blue};
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

html{
  font-size: var(--fs-base);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.6rem; /* 1.6rem = 16px */
  font-family: var(--ff-body);
  font-weight: var(--fw-normal);
  line-height: var(--line-height);
}
