// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/* avenirbook */
@font-face {
  font-display: swap;
  font-family: "avenirbook";
  src:
    url("/fonts/avenir/avenir_book-webfont.woff2") format("woff2"),
    url("/fonts/avenir/avenir_book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* avenirheavy */
@font-face {
  font-display: swap;
  font-family: "avenirheavy";
  src:
    url("/fonts/avenir/avenir_heavy-webfont.woff2") format("woff2"),
    url("/fonts/avenir/avenir_heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* avenirlight */
@font-face {
  font-display: swap;
  font-family: "avenirlight";
  src:
    url("/fonts/avenir/avenir_light-webfont.woff2") format("woff2"),
    url("/fonts/avenir/avenir_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* avenirblack */
@font-face {
  font-display: swap;
  font-family: "avenirblack";
  src:
    url("/fonts/avenir/avenir_black-webfont.woff2") format("woff2"),
    url("/fonts/avenir/avenir_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* avenir_regularregular */
@font-face {
  font-display: swap;
  font-family: "avenir_regularregular";
  src:
    url("/fonts/avenir/avenir_regular-webfont.woff2") format("woff2"),
    url("/fonts/avenir/avenir_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
