// -----------------------------------------------------------------------------
// This file contains all application-wide colors Sass variables.
// -----------------------------------------------------------------------------
$purple:  #6f42c1;
$orange: #ffa500;
$black-ligthen: #333333;
$blue: aliceblue;
